html
  head

    title!= title

    if headers.utf8
      meta(charset='UTF-8')

    block head-mobile
      if headers.mobile
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='mobile-web-app-capable' content='yes')

    block assets
      each assetPaths, assetType in assetTypesAssetPaths
        each assetPath in assetPaths
            if assetType === 'js'
            script(type="application/javascript" src=assetPath)
            if assetType === 'css'
            link(rel="stylesheet" href=assetPath)

    if react
      script
        |document.onreadystatechange = function () {
        |   if (document.readyState === 'complete') {
        | 
        if react.autoRender
          |     var mainElement = document.querySelector('#{mainQuerySelector}');
          |     React.render(React.createElement(#{react.mainGlobalIdentifier}), mainElement);
        else
          |    #{react.mainGlobalIdentifier}();
        | 
        |   }
        |};

  body
    block body
      if mainElement
        div(id=mainElement.id)
  
